marquee {
  background-color: var(--primary-color);
  padding: 20px;
}
.mar-item {
  margin: 0 40px;
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  marquee {
    padding: 10px;
  }
  .mar-item {
    font-size: 20px;
  }
}
